body{
	margin: 0;
  border: 0;
}
h1{
  text-align: center;
}
#header-nav{
  background-color:#999999;  
  border:2px solid #000; 
  border-radius: 0;
}
.navbar-brand{
  font-size: 30px;
}
a{
	text-decoration: none;
	color: black
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.nav-link{
  border: solid;
  border-width: 1px;
  border-color: white;
}
.menu{
  margin:15px; 
}
.main-title{
  font-weight: bold;
  margin-top: -3px;
  align-content: center;
}
.menu-content{ 
  margin-top:40px;
}
.menu-title{
  font-weight: bold;
}
.menu-item{
  margin-bottom: 20px;
  background:#999999;  
  padding: 10px;
  margin-right: 50px;
}
.menu-item h4 {
  font-weight: bold;
}
.menu-item p{
  font-weight:600;
  font-size: .9em;
  padding: 5px 10px;
}

@media (max-width:767px){
  .menu{
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 15px;
  }
  .menu-item p{
    font-weight: 600;
    font-size: 1em;
    padding:5px 15px;
  }
}